node_modules
.DS_Store
*-lock.*
*.lock
*.lockb
*.log
*.env*
*.swp
*.swo
*.swn
.idea
.vscode
.Spotlight-V100
.Trashes
dist
npm/dist
.cache
.deno
.npm
.npmrc
.pnp.*
.pnpm-lock.yaml
*.lock
*.*workspace
*.tgz
*.zip
*.tar.gz
/target
